@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, oi {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.l-container {
  display: grid;
  grid-template-rows: 217px 1fr 150px;
  grid-template-columns: 1fr;
}
@media (min-width: 1440px) {
  .l-container {
    grid-template-columns: 1fr 20%;
  }
}

.l-header {
  grid-row: 1;
  grid-column: 1;
}

.l-main {
  grid-row: 2;
  grid-column: 1;
}

.l-footer {
  grid-row: 3;
  grid-column: 1;
}
@media (min-width: 1440px) {
  .l-footer {
    grid-column: 1/3;
  }
}

.l-sidebar {
  grid-row: 1/4;
  grid-column: 1;
  z-index: 100;
}
@media (min-width: 1440px) {
  .l-sidebar {
    grid-row: 1/3;
    grid-column: 2;
  }
}

.c-button {
  background: linear-gradient(to bottom, #F2EDE9, #ded8d3);
  border: 1px solid #707070;
  border-radius: 10px;
}

.c-icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: calc(-50% - 12px);
  left: 12px;
}

.c-title {
  font-family: "Roboto";
  font-weight: Bold;
}

.c-keyword {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 10px;
  padding-left: 50px;
}

.c-map {
  background: url(../../../img/index/map_bg01.png) no-repeat center bottom/cover;
  position: relative;
}
@media (min-width: 600px) {
  .c-map {
    background: url(../../../img/index/map_bg01.png) no-repeat left center/cover;
  }
}
.c-map::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
.c-map::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 415px;
  z-index: 1;
}
@media (min-width: 600px) {
  .c-map::after {
    max-height: 100%;
  }
}
@media (min-width: 1440px) {
  .c-map::after {
    max-width: 62%;
  }
}

.c-copyright {
  font-size: 12px;
  font-family: "M+m1";
  color: #FFF;
  letter-spacing: 1px;
}

.c-text {
  font-family: "Roboto";
}
.c-text__m {
  font-family: "M+ 1m";
}

.c-close {
  position: relative;
  width: 32px;
  height: 32px;
}
.c-close__right, .c-close__left {
  width: 32px;
  height: 6px;
  background-color: #707070;
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
}
.c-close__right {
  transform: rotate(45deg);
}
.c-close__left {
  transform: rotate(-45deg);
}

.c-fade-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.p-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF7EF;
}
@media (min-width: 1440px) {
  .p-header {
    padding: 0 30px 0 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.p-header__logo {
  color: #707070;
  font-size: 40px;
}
@media (min-width: 1440px) {
  .p-header__logo {
    font-size: 64px;
    grid-column: 1;
    grid-row: 1;
  }
}
@media (min-width: 1440px) {
  .p-header__form {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }
}

.p-search-form {
  display: grid;
  grid-template-columns: 230px 78px;
  grid-template-rows: 46px;
  gap: 12px;
}
@media (min-width: 600px) {
  .p-search-form {
    grid-template-columns: 396px 136px;
    gap: 14px;
  }
}
.p-search-form__keyword {
  grid-row: 1;
  grid-column: 1;
}
.p-search-form__button {
  grid-row: 1;
  grid-column: 2;
  color: #707070;
  font-weight: bold;
}

.p-page-top {
  width: 100%;
  height: 285px;
  position: relative;
}
@media (min-width: 1440px) {
  .p-page-top {
    height: 530px;
  }
}
.p-page-top__image--ps {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .p-page-top__image--ps {
    display: none;
  }
}
.p-page-top__image--tab {
  display: none;
}
@media (min-width: 600px) {
  .p-page-top__image--tab {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-page-top__title {
  position: absolute;
  top: calc(50% - 18px);
  left: 25px;
  color: #fff;
  font-family: "M+ 1m";
  font-size: 36px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .p-page-top__title {
    top: calc(50% - 18px);
    left: 86px;
  }
}
@media (min-width: 1440px) {
  .p-page-top__title {
    font-size: 40px;
    top: calc(50% - 25px);
  }
}

.p-home-product {
  margin: 20px;
}
@media (min-width: 600px) {
  .p-home-product {
    margin: 40px;
  }
}
@media (min-width: 1440px) {
  .p-home-product {
    margin: 120px 112px 131px 111px;
  }
}
.p-home-product__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
@media (min-width: 600px) {
  .p-home-product__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 41px;
  }
}
@media (min-width: 1440px) {
  .p-home-product__inner {
    gap: 80px;
  }
}
.p-home-product__inner__item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
@media (min-width: 600px) {
  .p-home-product__inner__item:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
}
.p-home-product__inner__item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
@media (min-width: 600px) {
  .p-home-product__inner__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
}

.p-home-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 642px;
}
@media (min-width: 600px) {
  .p-home-menu {
    min-height: 681px;
  }
}
@media (min-width: 1440px) {
  .p-home-menu {
    min-height: 1193px;
  }
}
.p-home-menu:nth-child(1) {
  background: url(../../../img/index/main_bg01.png) no-repeat center/cover;
}
.p-home-menu:nth-child(2) {
  background: url(../../../img/index/main_bg02.png) no-repeat center/cover;
}
.p-home-menu__title {
  font-size: 41px;
  color: #eaeaea;
  margin: 17px 12px;
}
@media (min-width: 600px) {
  .p-home-menu__title {
    font-size: 44px;
  }
}
@media (min-width: 1440px) {
  .p-home-menu__title {
    font-size: 80px;
    margin: 32px 24px;
  }
}
.p-home-menu__title::after {
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  background-color: #fff;
  margin-top: 25px;
}
@media (min-width: 1440px) {
  .p-home-menu__title::after {
    width: 64px;
    margin-top: 47px;
  }
}

.p-home-description {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 163px;
  margin: 9px 10px 10px 11px;
  padding: 22px 14px 23px 10px;
  color: #3C2A10;
  font-family: "M+ 1m";
}
@media (min-width: 600px) {
  .p-home-description {
    min-height: 172px;
  }
}
@media (min-width: 1440px) {
  .p-home-description {
    margin: 20px;
    padding: 17px 19px;
  }
}
.p-home-description__title {
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .p-home-description__title {
    font-size: 24px;
  }
}
.p-home-description__text {
  font-size: 16px;
  margin-top: 23px;
  line-height: 1.4;
}
@media (min-width: 1440px) {
  .p-home-description__text {
    margin-top: 32px;
  }
}

.p-acsess {
  margin-top: 49px;
}
@media (min-width: 600px) {
  .p-acsess {
    margin-top: 40px;
    min-height: 415px;
  }
}
@media (min-width: 1440px) {
  .p-acsess {
    min-height: 649px;
  }
}
.p-acsess__body {
  position: relative;
  z-index: 5;
  padding: 40px 40px 51px 40px;
  font-family: "M+ 1m";
  color: #fff;
  font-weight: bold;
}
@media (min-width: 600px) {
  .p-acsess__body {
    padding-right: 29px;
    padding-left: 42px;
    padding-bottom: 38px;
  }
}
@media (min-width: 1440px) {
  .p-acsess__body {
    padding: 83px 737px 40px 119px;
  }
}
.p-acsess__body__title {
  font-size: 30px;
  line-height: 1.5;
  position: relative;
}
@media (min-width: 1440px) {
  .p-acsess__body__title {
    font-size: 36px;
  }
}
.p-acsess__body__title::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 75px;
  height: 2px;
  margin-top: 16px;
}
@media (min-width: 1440px) {
  .p-acsess__body__title::after {
    margin-top: 56px;
    font-size: 36px;
  }
}
.p-acsess__body__text {
  margin-top: 14px;
  font-size: 14px;
  line-height: 2.35;
}
@media (min-width: 1440px) {
  .p-acsess__body__text {
    margin-top: 64px;
  }
}

.p-footer {
  background: url(../../../img/common/footer_bg.png);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.p-footer__list {
  display: flex;
  position: relative;
}
.p-footer__list__item {
  font-family: "M+ m1";
  font-size: 20px;
  color: #FFF;
  margin: 0 15px;
}
.p-footer__list__item:first-child::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #FFF;
  margin: 2px 15px 0;
}

.p-sidebar {
  width: 100%;
}
.p-sidebar__inner {
  background-color: #f2ede9;
  width: 328px;
  height: 100%;
  margin-left: auto;
  position: relative;
}
@media (min-width: 1440px) {
  .p-sidebar__inner {
    width: 100%;
  }
}
.p-sidebar__inner__title {
  color: #707070;
  font-size: 0;
}
@media (min-width: 1440px) {
  .p-sidebar__inner__title {
    font-size: 34px;
    padding: 88px 52px;
  }
}
.p-sidebar__inner__button {
  position: absolute;
  top: 25px;
  right: 17px;
}
@media (min-width: 1440px) {
  .p-sidebar__inner__button {
    display: none;
  }
}
.p-sidebar__inner__list {
  margin-top: 212px;
  margin-left: 46px;
}
@media (min-width: 1440px) {
  .p-sidebar__inner__list {
    margin-top: 88px;
    margin-left: 52px;
  }
}

.p-side-menu {
  font-size: 24px;
  color: #707070;
  font-weight: bold;
  margin-top: 34px;
}
@media (min-width: 1440px) {
  .p-side-menu {
    margin-top: 70px;
  }
}
.p-side-menu__list {
  font-size: 20px;
  font-weight: initial;
  margin-top: 40px;
  margin-left: 32px;
}
.p-side-menu__list > li {
  margin-bottom: 23px;
}
@media (min-width: 1440px) {
  .p-side-menu__list > li {
    margin-bottom: 30px;
  }
}

.p-sidebar-open {
  font-size: 20px;
  color: #707070;
  position: absolute;
  top: 14px;
  right: 16px;
}
@media (min-width: 600px) {
  .p-sidebar-open {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .p-sidebar-open {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */