@use "../global";

.l-header {
    background-color: global.$header-color;
    @include global.breakpoint(tablet) {
        background-color: #000;
    }
    @include global.breakpoint(pc) {
        background-color: #FFF;
    }
}
