@use "../global" as g;

.p-content {
    object-fit: cover;
    position: relative;
    top: -5px;
    &__title {
        position: absolute;
        top: 128px;
        left: 25px;
        color: #fff;
        font-size: 36px;
        font-family: 'M+ 1m';
    }
}