@use "../global" as g;

.l-sidebar {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .l-sidebar__title {
    margin-top: 17px;
    margin-right: 16px;
    width: 51px;
    font-family: "Roboto";
    font-size: 20px;
    color: #707070;
  }