@use  "../../global/" as g;

.p-archive-body {
    padding: 30px 18px 19px 22px;
    color: g.$font-color;
    @include g.mq(tab) {
        padding: 36px 35px 37px 42px;
    }
    @include g.mq(pc) {
        padding: 60px 100px 70px;
    }
    &__title {
        font-size: 28px;
        font-weight: bold;
    }
    &__text {
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.4;
    }
}