@use  "../../global/" as g;

.p-archive-body {
    margin: 30px 18px 0 22px;
    color: g.$font-color;
    @include g.mq(tab) {
        margin: 36px 35px 0 42px;
    }
    @include g.mq(pc) {
        margin: 60px 100px 0;
    }
    &__title {
        font-size: 28px;
        font-weight: bold;
        @include g.mq(tab) {
            font-size: 36px;
        }
    }
    &__text {
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.4;
    }
}