@use "../../global" as g;

.p-form {
  position: relative;
  left: -4px; /*カンプ位置合わせ*/
  &__text {
    background-color: #fff;
    border: 1px solid g.$brder-color;
    border-radius: 10px;
    width: 230px;
    height: 46px;
  }
  &__image {
    width: 24ox;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 16px;
  }
  &__btn {
    background: linear-gradient(to bottom, g.$button-color,#DED8D3);
    border: 1px solid g.$brder-color;
    border-radius: 10px;
    color: g.$brder-color;
    width: 78px;
    height: 46px;
    font-family: 'M+ 1m';
    font-size: 16px;
    font-weight: bold;
  }
}
