@use "../../global" as g;

.p-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: g.$header-color;
  @include g.mq(pc) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 65px;
  }
  &__logo {
    font-size: 40px;
    @include g.mq(pc) {
      font-size: 64px;
    }
  }
}