@use "../../global/" as g;

.p-home-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 642px;
  @include g.mq(tab) {
    min-height: 681px;
  }
  @include g.mq(pc) {
    min-height: 1193px;
  }
  &__title {
    font-size: 41px;
    color: #eaeaea;
    margin: 17px 12px;
    @include g.mq(tab) {
      font-size: 44px;
    }
    @include g.mq(pc) {
      font-size: 80px;
      margin: 32px 24px;
    }
    &::after {
      content: "";
      display: block;
      width: 34px;
      height: 4px;
      background-color: #fff;
      margin-top: 25px;
      @include g.mq(pc) {
          width: 64px;
          margin-top: 47px;
      }
    }
  }
}
