@use "../../global/" as g;

.p-list {
    line-height: 1.43;
    margin-top: 20px;
    &--second {
        line-height: 1.43;
        padding-left: 18px;
        margin-top: 20px;
    }
    &--ol {
        line-height: 1.43;
        margin-top: 20px;
        margin-top: 20px;
        &--second {
            line-height: 1.43;
            padding-left: 18px;
            margin-top: 20px;
        }
    }
}