@use "../../foundation" as g;

.wp-pagenavi {
  color: g.$main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 30px;
  max-width: 334px;
  @include g.mq(tab) {
    justify-content: space-evenly;
    max-width: 580px;
    margin: 106px auto 30px;
  }
  @include g.mq(pc) {
    max-width: 600px;
    margin: 150px auto 60px;
  }

  .previouspostslink,
  .nextpostslink {
    border: none;
    font-size: 32px;
  }
  .previouspostslink {
    &::after {
      content: '前へ';
      font-size: 16px;
      margin-left: 8px;
      vertical-align: middle;
      @include g.mq(tab) {
        display: none;
      }
    }
  }
  .nextpostslink {
    &::before {
      content: '次へ';
      font-size: 16px;
      margin-right: 8px;
      vertical-align: middle;
      @include g.mq(tab) {
        display: none;
      }
    }
  }
  
  .pages {
    display: none;
    @include g.mq(tab) {
      display: block;
      border: none;
    }
    &::before {
      @include g.mq(tab) {
        content: "page";
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  .page {
    display: none;
    @include g.mq(tab) {
      display: block;
    }
  }

  .current {
    display: none;
    @include g.mq(tab) {
      display: block;
      padding: 10px 9px 9px 10px;
      border: 1px solid g.$main-color;
      background: g.$font-color;
      color: #fff;
    }
  }
  a {
    padding: 10px 9px 9px 10px;
    border: 1px solid g.$main-color;
    &:hover {
      background: g.$font-color;
      color: #fff;
    }
  }
}
