@use "../../foundation" as g;

.wp-block-columns {
  margin-top: 30px;
  padding: 0 20px 0;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  @include g.mq(tab) {
    margin-top: 60px;
    padding: 0 60px 0;
  }
  @include g.mq(pc) {
    margin-top: 60px;
    padding: 0 100px 0;
  }
  > div {
    img {
      max-height: 89px;
      border: solid 1px g.$main-color;
      object-fit: cover;
      @include g.mq(tab) {
        max-height: 189px;
      }
      @include g.mq(pc) {
        max-height: 358px;
      }
    }
  }
  > div {
    p {
      line-height: 1.43;
      max-height: 180px;
      overflow: hidden;
      font-family: "M+ 1m";
      @include g.mq(tab) {
        max-height: 370px;
      }
      @include g.mq(pc) {
        max-height: none;
      }
    }
  }
}
