@use "../../foundation" as g;

.p-search-form {
  display: grid;
  grid-template-columns: 230px 78px;
  grid-template-rows: 46px;
  gap: 12px;
  @include g.mq(tab) {
    grid-template-columns: 396px 136px;
    gap: 14px;
  }
  &__keyword {
    grid-row: 1;
    grid-column: 1;
  }
  &__button {
    grid-row: 1;
    grid-column: 2;
    color: g.$main-color;
    font-weight: bold;
  }
}
