@use "../../global/" as g;

.p-sidebar {
  background-color: #f2ede9;
  width: 328px;
  height: 100%;
  margin-left: auto;
  position: relative;
  @include g.mq(pc) {
    width: 100%;
  }
  &__title {
    color: g.$main-color;
    font-size: 0;
    @include g.mq(pc) {
      font-size: 34px;
      padding: 88px 52px;
    }
  }

  &__button {
    position: absolute;
    top: 25px;
    right: 17px;
    @include g.mq(pc) {
        display: none;
    }
  }

  &__list {
    margin-top: 212px;
    margin-left: 46px;
    @include g.mq(pc) {
      margin-top: 88px;
      margin-left: 52px;
    }
  }
}
