@use "../../global/" as g;

.p-single-list {
    color: g.$font-color;
    line-height: 1.43;
    margin-top: 30px;
    padding: 0 20px 0;
    @include g.mq(tab) {
        padding: 0 110px 0;
    }
    @include g.mq(pc) {
        padding: 0 150px 0;
    }
    > ol {
        padding-left: 28px;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    > ul {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    &__right {
        margin-left: 24px
    }
    &--second {
        @extend .p-single-list;
        margin-top: 60px;
    }
}