@use "../../foundation" as g;

.p-single-text {
    padding: 30px 20px 177px;
    @include g.mq(tab) {
        padding: 60px 60px 228px;
    }
    @include g.mq(pc) {
        padding: 60px 100px 353px;
    }
}