@use "../../foundation" as g;

%listbase {
  font-family: "M+ 1m";
  color: g.$font-color;
  line-height: 1.43;
  margin-top: 30px;
  padding: 0 50px 0;
  @include g.mq(tab) {
    padding: 0 90px 0;
  }
  @include g.mq(pc) {
    padding: 0 130px 0;
  }
}

.single {
  main {
    article {
      > ul {
        @extend %listbase;
        list-style: disc;
        > li {
          > ul {
            list-style: circle;
            margin-left: 36px;
          }
        }
      }
      > ol {
        @extend %listbase;
        list-style: decimal;
        > li {
            > ol {
                margin-left: 36px;
            }
        }
      }
    }
  }
}
