@use "../../foundation" as g;

.p-table {
    margin: 30px 20px 0;
    @include g.mq(tab) {
        margin: 60px 60px 0;
    }
    @include g.mq(pc) {
        margin: 50px 100px 0;
    }
    &__tr {
        height: 77px;
        text-align: center;
        td {
            &:first-of-type {
                width: calc(100vw - 20rem);
                @include g.mq(tab) {
                    width:  calc(100vw - 50rem);
                }
                @include g.mq(pc) {
                    width:  calc(100vw - 93rem);
                }
            }
            &:last-of-type{
                width: calc(100vw - 13.5rem);
                @include g.mq(tab) {
                    width:  calc(100vw - 21.5rem);
                }
                @include g.mq(pc) {
                    width:  calc(100vw - 43rem);
                }
            }
        }
    }
}