@use "../../global" as g;

.p-table {
    // margin-left: 20px;
    // margin-right: 20px;
    // margin-top: 30px;
    margin: 30px auto 0;
    &__tr {
        height: 77px;
        text-align: center;
        td {
            &:first-of-type {
                width: 135px;
            }
            &:last-of-type{
                width: 200px;
            }
        }
    }
}