@use "../../global/" as g;

.c-caption {
    color: #FFF;
    &__title {
        font-size: 20px;
        font-weight: bold;
    }
    &__title-small {
        font-size: 16px;
        font-weight: bold;
    }
    &__text {
        font-size: 16px;
        line-height: 1.7;
    }
    &__button {
        background-color: #FFF;
        width: 163px;
        height: 42px;
        border-radius: 21px;
        font-size: 16px;
        font-weight: bold;
        color: g.$main-color;
        @include g.mq(pc) {
            width: 292px;
            height: 76px;
            line-height: 2;
            border-radius: 38px;
        }
    }
}