@use "../../global/" as g;

.c-card {
    display: flex;
    flex-direction: column;
    > img {
        min-width: 336px;
        @include g.mq(tab) {
            object-fit: cover;
            object-position: left center;
            min-width: 378px;
        }
        @include g.mq(pc) {
            min-width: 677px;
        }
    }
    @include g.mq(tab) {
        flex-direction: row;
    }
    &__caption {
        background-color: #3C2B1C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 37px;
        &__button {
            align-self: center;
        }
    }
}