@use "../../foundation" as g;

.wp-block-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include g.mq(tab) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}